 {:tasks {test:once
          {:doc  "runs tests"
           :task (clojure {:dir "."} "-M:test")}

          test
          {:doc  "runs tests in watch mode"
           :task (clojure {:dir "."} "-M:test --watch")}

          test:coverage (clojure "-M:test:coverage")}}
