("bwrap"
 "--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--dev-bind"
 "/"
 "/"
 "--tmpfs"
 "/home/user"
 "--tmpfs"
 "/tmp"
 "--ro-bind"
 "/home/user/.nix-profile/bin"
 "/home/user/.nix-profile/bin"
 "date")
