(->
 (base/base)
 (system/libs)
 (->
  (system/nop system/bind-ro-try "/")
  (->
   (system/nop system/bind-ro-try "/etc")
   (-> (system/bind-ro-try "/etc/ld.so.preload"))))
 (-> (system/command "echo")))
