("bwrap"
 "--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--dev-bind"
 "/"
 "/"
 "--tmpfs"
 "/home/user"
 "--tmpfs"
 "/tmp"
 "--bind"
 "/home/user/sandboxes/windsurf"
 "/home/user"
 "--ro-bind"
 "/home/user/.nix-profile/bin"
 "/home/user/.nix-profile/bin"
 "--share-net"
 "--ro-bind"
 "/etc/resolv.conf"
 "/etc/resolv.conf"
 "--ro-bind-try"
 "/run/systemd/resolve"
 "/run/systemd/resolve"
 "--ro-bind"
 "/home/user/Applications"
 "/home/user/Applications"
 "--ro-bind"
 "/home/user/.config/nvim"
 "/home/user/.config/nvim"
 "--ro-bind"
 "/home/user/.local/share/nvim"
 "/home/user/.local/share/nvim"
 "--ro-bind"
 "/home/user/code/parpar.nvim"
 "/home/user/code/parpar.nvim"
 "--ro-bind"
 "/home/user/projects/keysensei/keysensei.nvim"
 "/home/user/projects/keysensei/keysensei.nvim"
 "--bind"
 "/home/user/.local/share/nvim/lazy/nvim-treesitter/parser"
 "/home/user/.local/share/nvim/lazy/nvim-treesitter/parser"
 "--bind"
 "/home/user/.config/nvim/lazy-lock.json"
 "/home/user/.config/nvim/lazy-lock.json"
 "--bind"
 "/home/user/.local/share/nvim/lazy/lazy.nvim/doc/tags"
 "/home/user/.local/share/nvim/lazy/lazy.nvim/doc/tags"
 "--ro-bind"
 "/home/me/bin/vendor/Windsurf-linux-x64-1.2.1/Windsurf"
 "/home/me/bin/vendor/Windsurf-linux-x64-1.2.1/Windsurf"
 "--bind"
 "/home/user/somedir"
 "/home/user/somedir"
 "--chdir"
 "/home/user/somedir"
 "/home/me/bin/vendor/Windsurf-linux-x64-1.2.1/Windsurf/windsurf"
 "--new-window"
 ".")
