("bwrap"
 "--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--dev-bind"
 "/"
 "/"
 "--tmpfs"
 "/home/user"
 "--tmpfs"
 "/tmp"
 "--bind"
 "/home/me/projects/firewrap"
 "/home/me/projects/firewrap"
 "--chdir"
 "/home/me/projects/firewrap"
 "date")
