("bwrap"
 "--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--dev-bind"
 "/"
 "/"
 "--tmpfs"
 "/home/user"
 "--tmpfs"
 "/tmp"
 "--ro-bind"
 "/home/user/.nix-profile"
 "/home/user/.nix-profile"
 "--ro-bind"
 "/home/user/.local/state/nix"
 "/home/user/.local/state/nix"
 "--ro-bind"
 "/home/user/.nix-defexpr"
 "/home/user/.nix-defexpr"
 "--bind"
 "/home/user/sandboxes/ferdium"
 "/home/user"
 "--ro-bind"
 "/home/user/.nix-profile"
 "/home/user/.nix-profile"
 "--ro-bind"
 "/home/user/.local/state/nix"
 "/home/user/.local/state/nix"
 "--ro-bind"
 "/home/user/.nix-defexpr"
 "/home/user/.nix-defexpr"
 "--share-net"
 "--ro-bind-try"
 "/run/systemd/resolve"
 "/run/systemd/resolve"
 "--ro-bind-try"
 "/etc/resolv.conf"
 "/etc/resolv.conf"
 "/some/path/ferdium")
