("--unshare-cgroup"
 "--unshare-ipc"
 "--unshare-user"
 "--unshare-uts"
 "--die-with-parent"
 "--new-session"
 "--dev"
 "/dev"
 "--ro-bind"
 "/etc"
 "/etc"
 "--proc"
 "/proc"
 "--tmpfs"
 "/tmp"
 "--ro-bind"
 "/usr"
 "/usr"
 "--symlink"
 "usr/bin"
 "/bin"
 "--symlink"
 "usr/sbin"
 "/sbin"
 "--symlink"
 "usr/lib"
 "/lib"
 "--symlink"
 "usr/lib64"
 "/lib64"
 "--ro-bind-try"
 "/lib32"
 "/lib32"
 "--tmpfs"
 "/home/user"
 "--bind"
 "/home/user/sandboxes/claude"
 "/home/user"
 "--bind"
 "/home/user/somedir"
 "/home/user/somedir"
 "--chdir"
 "/home/user/somedir"
 "--ro-bind-try"
 "/run/systemd/resolve"
 "/run/systemd/resolve"
 "--ro-bind-try"
 "/etc/resolv.conf"
 "/etc/resolv.conf"
 "--ro-bind-try"
 "/etc/gai.conf"
 "/etc/gai.conf"
 "--ro-bind-try"
 "/etc/host.conf"
 "/etc/host.conf"
 "--ro-bind-try"
 "/etc/hosts"
 "/etc/hosts"
 "--ro-bind-try"
 "/etc/nsswitch.conf"
 "/etc/nsswitch.conf"
 "--ro-bind-try"
 "/etc/ssl/certs"
 "/etc/ssl/certs"
 "--ro-bind-try"
 "/etc/claude-code"
 "/etc/claude-code"
 "--bind-try"
 "/home/user/.claude"
 "/home/user/.claude"
 "--bind-try"
 "/home/user/.claude.json"
 "/home/user/.claude.json"
 "--bind-try"
 "/home/user/.config/claude"
 "/home/user/.config/claude"
 "--ro-bind-try"
 "/home/user/.gitconfig"
 "/home/user/.gitconfig"
 "--ro-bind-try"
 "/home/user/dotfiles/clojure/.clojure/deps.edn"
 "/home/user/dotfiles/clojure/.clojure/deps.edn"
 "--ro-bind-try"
 "/home/user/.clojure/deps.edn"
 "/home/user/.clojure/deps.edn")
