("bwrap"
 "--unshare-all"
 "--die-with-parent"
 "--new-session"
 "--ro-bind-try"
 "/etc/ld.so.cache"
 "/etc/ld.so.cache"
 "--ro-bind-try"
 "/usr/lib"
 "/usr/lib"
 "--ro-bind-try"
 "/usr/lib64"
 "/usr/lib64"
 "--symlink"
 "usr/lib"
 "/lib"
 "--symlink"
 "usr/lib64"
 "/lib64"
 "--ro-bind-try"
 "/some/path/to/jdk"
 "/some/path/to/jdk"
 "--ro-bind-try"
 "/etc/alternatives/java"
 "/etc/alternatives/java"
 "--ro-bind-try"
 "/nix"
 "/nix"
 "--bind"
 "/home/me/.m2"
 "/home/me/.m2"
 "--bind"
 "/home/me/.gitlibs"
 "/home/me/.gitlibs"
 "--unsetenv"
 "HOME"
 "clojure")
