("--unshare-all"
 "--die-with-parent"
 "--new-session"
 "--ro-bind-try"
 "/etc/ld.so.cache"
 "/etc/ld.so.cache"
 "--ro-bind-try"
 "/usr/lib"
 "/usr/lib"
 "--ro-bind-try"
 "/usr/lib64"
 "/usr/lib64"
 "--symlink"
 "usr/lib"
 "/lib"
 "--symlink"
 "usr/lib64"
 "/lib64"
 "--ro-bind"
 "/etc/machine-id"
 "/etc/machine-id"
 "--ro-bind"
 "/var/lib/dbus/machine-id"
 "/var/lib/dbus/machine-id"
 "--ro-bind"
 "/bus"
 "/bus"
 "--ro-bind"
 "/usr/libexec/flatpak-xdg-utils/xdg-open"
 "/usr/bin/xdg-open"
 "--unsetenv"
 "HOME")
