("bwrap"
 "--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--dev-bind"
 "/"
 "/"
 "--tmpfs"
 "/home/me"
 "--tmpfs"
 "/tmp"
 "--bind"
 "/home/me/sandboxes/date"
 "/home/me"
 "--share-net"
 "--ro-bind"
 "/etc/resolv.conf"
 "/etc/resolv.conf"
 "--ro-bind-try"
 "/run/systemd/resolve"
 "/run/systemd/resolve"
 "date")
