("bwrap"
 "--unshare-all"
 "--die-with-parent"
 "--new-session"
 "--dev-bind"
 "/"
 "/"
 "--tmpfs"
 "/home/user"
 "--tmpfs"
 "/tmp"
 "--bind"
 "/home/user/sandboxes/customhome"
 "/home/user"
 "date")
