("--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--dev-bind"
 "/"
 "/"
 "--tmpfs"
 "/home/me"
 "--tmpfs"
 "/tmp"
 "--bind"
 "/home/me/sandboxes/godmode"
 "/home/me"
 "--share-net"
 "--ro-bind"
 "/etc/resolv.conf"
 "/etc/resolv.conf"
 "--ro-bind-try"
 "/run/systemd/resolve"
 "/run/systemd/resolve"
 "--perms"
 "0555"
 "--ro-bind-data"
 9
 "/tmp/app.AppImage"
 "9<"
 "/path/to/GodMode.AppImage"
 "--perms"
 "0555"
 "--ro-bind-data"
 8
 "/tmp/run.sh"
 "/tmp/run.sh"
 "8<<"
 "\"FIREWRAP_HEREDOC_TERMINATOR\"\n#!/usr/bin/env sh\ncd /tmp\n./app.AppImage --appimage-extract\nbash squashfs-root/AppRun\n\nFIREWRAP_HEREDOC_TERMINATOR")
