("--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--share-net"
 "--ro-bind-try"
 "/run/systemd/resolve"
 "/run/systemd/resolve"
 "--ro-bind-try"
 "/etc/resolv.conf"
 "/etc/resolv.conf"
 "--ro-bind-try"
 "/etc/gai.conf"
 "/etc/gai.conf"
 "--ro-bind-try"
 "/etc/host.conf"
 "/etc/host.conf"
 "--ro-bind-try"
 "/etc/hosts"
 "/etc/hosts"
 "--ro-bind-try"
 "/etc/nsswitch.conf"
 "/etc/nsswitch.conf"
 "--ro-bind-try"
 "/etc/ssl/certs"
 "/etc/ssl/certs"
 "--ro-bind-try"
 "/at-spi/bus_1"
 "/at-spi/bus_1"
 "--ro-bind"
 "/etc/machine-id"
 "/etc/machine-id"
 "--ro-bind"
 "/var/lib/dbus/machine-id"
 "/var/lib/dbus/machine-id"
 "--ro-bind"
 "/bus"
 "/bus"
 "--ro-bind-try"
 "/etc/dconf/profile/user"
 "/etc/dconf/profile/user"
 "--ro-bind-try"
 "/home/user/.config/dconf/user"
 "/home/user/.config/dconf/user"
 "--bind"
 "/dconf"
 "/dconf"
 "--ro-bind-try"
 "/usr/local/share/dconf"
 "/usr/local/share/dconf"
 "--ro-bind-try"
 "/usr/share/dconf"
 "/usr/share/dconf"
 "--ro-bind-try"
 "/dev/urandom"
 "/dev/urandom"
 "--ro-bind-try"
 "/home/user/.config/fontconfig"
 "/home/user/.config/fontconfig"
 "--ro-bind-try"
 "/usr/share/fontconfig"
 "/usr/share/fontconfig"
 "--bind"
 "/home/user/.cache/fontconfig"
 "/home/user/.cache/fontconfig"
 "--ro-bind-try"
 "/var/cache/fontconfig"
 "/var/cache/fontconfig"
 "--ro-bind-try"
 "/etc/fonts"
 "/etc/fonts"
 "--ro-bind-try"
 "/usr/share/fonts"
 "/usr/share/fonts"
 "--ro-bind-try"
 "/usr/local/share/fonts"
 "/usr/local/share/fonts"
 "--ro-bind-try"
 "/home/user/.fonts"
 "/home/user/.fonts"
 "--ro-bind-try"
 "/home/user/.local/share/fonts"
 "/home/user/.local/share/fonts"
 "--ro-bind-try"
 "/usr/local/share/glib-2.0"
 "/usr/local/share/glib-2.0"
 "--ro-bind-try"
 "/usr/share/glib-2.0"
 "/usr/share/glib-2.0"
 "--ro-bind-try"
 "/etc/gtk-3.0"
 "/etc/gtk-3.0"
 "--ro-bind-try"
 "/etc/xdg/gtk-3.0"
 "/etc/xdg/gtk-3.0"
 "--ro-bind-try"
 "/usr/local/share/gtk-3.0"
 "/usr/local/share/gtk-3.0"
 "--ro-bind-try"
 "/usr/share/gtk-3.0"
 "/usr/share/gtk-3.0"
 "--ro-bind-try"
 "/home/user/.config/gtk-3.0"
 "/home/user/.config/gtk-3.0"
 "--ro-bind-try"
 "/usr/share/icons"
 "/usr/share/icons"
 "--ro-bind-try"
 "/home/user/.icons"
 "/home/user/.icons"
 "--ro-bind-try"
 "/home/user/.local/share/icons"
 "/home/user/.local/share/icons"
 "--ro-bind-try"
 "/etc/ld.so.cache"
 "/etc/ld.so.cache"
 "--ro-bind-try"
 "/usr/lib"
 "/usr/lib"
 "--ro-bind-try"
 "/usr/lib64"
 "/usr/lib64"
 "--symlink"
 "usr/lib"
 "/lib"
 "--symlink"
 "usr/lib64"
 "/lib64"
 "--ro-bind-try"
 "/usr/share/locale"
 "/usr/share/locale"
 "--ro-bind-try"
 "/usr/share/locale-langpack"
 "/usr/share/locale-langpack"
 "--ro-bind-try"
 "/usr/local/share/mime/mime.cache"
 "/usr/local/share/mime/mime.cache"
 "--ro-bind-try"
 "/usr/share/mime/mime.cache"
 "/usr/share/mime/mime.cache"
 "--ro-bind-try"
 "/home/user/.themes"
 "/home/user/.themes"
 "--ro-bind-try"
 "/home/user/.local/share/themes"
 "/home/user/.local/share/themes"
 "--ro-bind-try"
 "/usr/share/themes"
 "/usr/share/themes"
 "--ro-bind-try"
 "/tmp/.X11-unix/X1"
 "/tmp/.X11-unix/X1"
 "--ro-bind-try"
 "/home/user/.cache/gnome-calculator"
 "/home/user/.cache/gnome-calculator"
 "--ro-bind-try"
 "/home/user/.config/ibus/bus"
 "/home/user/.config/ibus/bus"
 "--ro-bind-try"
 "/usr/local/share/gnome-calculator"
 "/usr/local/share/gnome-calculator"
 "--ro-bind-try"
 "/usr/share/gnome-calculator"
 "/usr/share/gnome-calculator"
 "--ro-bind-try"
 "/usr/local/share/gtksourceview-4/styles"
 "/usr/local/share/gtksourceview-4/styles"
 "--ro-bind-try"
 "/usr/share/gtksourceview-4/styles"
 "/usr/share/gtksourceview-4/styles"
 "--ro-bind-try"
 "/usr/local/share/pixmaps"
 "/usr/local/share/pixmaps"
 "--ro-bind-try"
 "/usr/share/pixmaps"
 "/usr/share/pixmaps"
 "--ro-bind-try"
 "/home/user/.local/share/gnome-calculator"
 "/home/user/.local/share/gnome-calculator"
 "--ro-bind-try"
 "/home/user/.local/share/pixmaps"
 "/home/user/.local/share/pixmaps"
 "--ro-bind-try"
 "/gdm/Xauthority"
 "/gdm/Xauthority"
 "--ro-bind-try"
 "/wayland-0"
 "/wayland-0"
 "--ro-bind-try"
 "gnome-calculator"
 "gnome-calculator"
 "--unsetenv"
 "HOME")
