("bwrap"
 "--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--dev-bind"
 "/"
 "/"
 "--tmpfs"
 "/home/me"
 "--tmpfs"
 "/tmp"
 "--bind"
 "/home/me/sandboxes/windsurf"
 "/home/me"
 "--share-net"
 "--ro-bind"
 "/etc/resolv.conf"
 "/etc/resolv.conf"
 "--ro-bind-try"
 "/run/systemd/resolve"
 "/run/systemd/resolve"
 "--ro-bind"
 "/home/me/Applications"
 "/home/me/Applications"
 "--ro-bind"
 "/home/me/.config/nvim"
 "/home/me/.config/nvim"
 "--ro-bind"
 "/home/me/.local/share/nvim"
 "/home/me/.local/share/nvim"
 "--ro-bind"
 "/home/me/code/parpar.nvim"
 "/home/me/code/parpar.nvim"
 "--ro-bind"
 "/home/me/projects/keysensei/keysensei.nvim"
 "/home/me/projects/keysensei/keysensei.nvim"
 "--bind"
 "/home/me/.local/share/nvim/lazy/nvim-treesitter/parser"
 "/home/me/.local/share/nvim/lazy/nvim-treesitter/parser"
 "--bind"
 "/home/me/.config/nvim/lazy-lock.json"
 "/home/me/.config/nvim/lazy-lock.json"
 "--bind"
 "/home/me/.local/share/nvim/lazy/lazy.nvim/doc/tags"
 "/home/me/.local/share/nvim/lazy/lazy.nvim/doc/tags"
 "--bind"
 "/home/me/projects/firewrap"
 "/home/me/projects/firewrap"
 "--chdir"
 "/home/me/projects/firewrap"
 "/home/me/bin/vendor/Windsurf-linux-x64-1.1.2/Windsurf/windsurf"
 ".")
