("--unshare-all"
 "--die-with-parent"
 "--new-session"
 "--ro-bind-try"
 "/etc/ld.so.cache"
 "/etc/ld.so.cache"
 "--ro-bind-try"
 "/usr/lib"
 "/usr/lib"
 "--ro-bind-try"
 "/usr/lib64"
 "/usr/lib64"
 "--symlink"
 "usr/lib"
 "/lib"
 "--symlink"
 "usr/lib64"
 "/lib64"
 "--ro-bind-try"
 "/etc/localtime"
 "/etc/localtime"
 "--ro-bind-try"
 "/etc/locale.alias"
 "/etc/locale.alias"
 "--ro-bind-try"
 "/home/user/.config/ibus/bus"
 "/home/user/.config/ibus/bus"
 "--ro-bind-try"
 "/usr/local/share/icons"
 "/usr/local/share/icons"
 "--ro-bind-try"
 "/usr/share/icons"
 "/usr/share/icons"
 "--ro-bind-try"
 "/usr/local/share/mime"
 "/usr/local/share/mime"
 "--ro-bind-try"
 "/usr/share/mime"
 "/usr/share/mime"
 "--ro-bind-try"
 "/home/me/.config/dconf/user"
 "/home/me/.config/dconf/user"
 "--ro-bind-try"
 "/proc/filesystems"
 "/proc/filesystems"
 "--ro-bind-try"
 "/proc/mounts"
 "/proc/mounts"
 "--ro-bind-try"
 "/usr/local/share/glib-2.0"
 "/usr/local/share/glib-2.0"
 "--ro-bind-try"
 "/usr/share/glib-2.0"
 "/usr/share/glib-2.0"
 "--ro-bind-try"
 "/etc/gtk-3.0"
 "/etc/gtk-3.0"
 "--ro-bind-try"
 "/etc/xdg/gtk-3.0"
 "/etc/xdg/gtk-3.0"
 "--ro-bind-try"
 "/usr/local/share/gtk-3.0"
 "/usr/local/share/gtk-3.0"
 "--ro-bind-try"
 "/usr/share/gtk-3.0"
 "/usr/share/gtk-3.0"
 "--ro-bind-try"
 "/home/user/.config/gtk-3.0"
 "/home/user/.config/gtk-3.0"
 "--dev-bind"
 "/run"
 "/run"
 "--dev-bind"
 "/dev/urandom"
 "/dev/urandom"
 "--ro-bind"
 "/etc/machine-id"
 "/etc/machine-id"
 "--ro-bind"
 "/var/lib/dbus/machine-id"
 "/var/lib/dbus/machine-id"
 "--ro-bind"
 "/bus"
 "/bus"
 "--ro-bind"
 "/usr"
 "/usr"
 "--ro-bind-try"
 "/etc/fonts"
 "/etc/fonts"
 "--ro-bind-try"
 "/usr/share/fonts"
 "/usr/share/fonts"
 "--ro-bind-try"
 "/usr/local/share/fonts"
 "/usr/local/share/fonts"
 "--ro-bind-try"
 "/home/user/.fonts"
 "/home/user/.fonts"
 "--ro-bind-try"
 "/home/user/.local/share/fonts"
 "/home/user/.local/share/fonts"
 "--ro-bind-try"
 "/usr/share/glib-2.0"
 "/usr/share/glib-2.0"
 "--ro-bind"
 "gedit"
 "gedit"
 "--ro-bind-try"
 "/home/me/.cache/fontconfig"
 "/home/me/.cache/fontconfig"
 "--ro-bind-try"
 "/var/cache/fontconfig"
 "/var/cache/fontconfig"
 "--tmpfs"
 "/tmp"
 "--dev-bind"
 "/tmp/.X11-unix"
 "/tmp/.X11-unix"
 "--unsetenv"
 "HOME")
