("bwrap"
 "--unshare-all"
 "--die-with-parent"
 "--new-session"
 "--dev"
 "/dev"
 "--ro-bind"
 "/etc"
 "/etc"
 "--proc"
 "/proc"
 "--tmpfs"
 "/tmp"
 "--ro-bind"
 "/usr"
 "/usr"
 "--symlink"
 "usr/bin"
 "/bin"
 "--symlink"
 "usr/sbin"
 "/sbin"
 "--symlink"
 "usr/lib"
 "/lib"
 "--symlink"
 "usr/lib64"
 "/lib64"
 "--ro-bind-try"
 "/lib32"
 "/lib32"
 "--tmpfs"
 "/home/user"
 "date")
