("bwrap"
 "--unshare-all"
 "--die-with-parent"
 "--new-session"
 "--ro-bind-try"
 "/etc/ld.so.cache"
 "/etc/ld.so.cache"
 "--ro-bind-try"
 "/usr/lib"
 "/usr/lib"
 "--ro-bind-try"
 "/usr/lib64"
 "/usr/lib64"
 "--symlink"
 "usr/lib"
 "/lib"
 "--symlink"
 "usr/lib64"
 "/lib64"
 "--unsetenv"
 "HOME"
 "bash")
