("--die-with-parent"
 "--unshare-all"
 "--new-session"
 "--share-net"
 "--ro-bind-try"
 "/run/systemd/resolve"
 "/run/systemd/resolve"
 "--ro-bind-try"
 "/etc/resolv.conf"
 "/etc/resolv.conf"
 "--ro-bind-try"
 "/etc/gai.conf"
 "/etc/gai.conf"
 "--ro-bind-try"
 "/etc/host.conf"
 "/etc/host.conf"
 "--ro-bind-try"
 "/etc/hosts"
 "/etc/hosts"
 "--ro-bind-try"
 "/etc/nsswitch.conf"
 "/etc/nsswitch.conf"
 "--ro-bind-try"
 "/etc/ssl/certs"
 "/etc/ssl/certs"
 "--bind"
 "/home/user/sandboxes/cheese"
 "/home/user"
 "--ro-bind-try"
 "/etc/ld.so.cache"
 "/etc/ld.so.cache"
 "--ro-bind-try"
 "/usr/lib"
 "/usr/lib"
 "--ro-bind-try"
 "/usr/lib64"
 "/usr/lib64"
 "--symlink"
 "usr/lib"
 "/lib"
 "--symlink"
 "usr/lib64"
 "/lib64"
 "--tmpfs"
 "/tmp"
 "--ro-bind"
 "/etc/localtime"
 "/etc/localtime"
 "--dev-bind"
 "/dev/null"
 "/dev/null"
 "--ro-bind"
 "/usr/bin/cheese"
 "/usr/bin/cheese"
 "--ro-bind"
 "/etc/machine-id"
 "/etc/machine-id"
 "--ro-bind"
 "/var/lib/dbus/machine-id"
 "/var/lib/dbus/machine-id"
 "--ro-bind"
 "/bus"
 "/bus"
 "--dev-bind"
 "/dev/dri"
 "/dev/dri"
 "--ro-bind-try"
 "/sys/dev"
 "/sys/dev"
 "--ro-bind-try"
 "/sys/devices"
 "/sys/devices"
 "--ro-bind-try"
 "/etc/fonts"
 "/etc/fonts"
 "--ro-bind-try"
 "/usr/share/fonts"
 "/usr/share/fonts"
 "--ro-bind-try"
 "/usr/local/share/fonts"
 "/usr/local/share/fonts"
 "--ro-bind-try"
 "/home/user/.fonts"
 "/home/user/.fonts"
 "--ro-bind-try"
 "/home/user/.local/share/fonts"
 "/home/user/.local/share/fonts"
 "--ro-bind-try"
 "/usr/share/X11"
 "/usr/share/X11"
 "--ro-bind-try"
 "/usr/share/dconf"
 "/usr/share/dconf"
 "--ro-bind-try"
 "/usr/share/drirc.d"
 "/usr/share/drirc.d"
 "--ro-bind-try"
 "/usr/share/fontconfig"
 "/usr/share/fontconfig"
 "--ro-bind-try"
 "/usr/share/glib-2.0"
 "/usr/share/glib-2.0"
 "--ro-bind-try"
 "/usr/share/gnome-video-effects"
 "/usr/share/gnome-video-effects"
 "--ro-bind-try"
 "/usr/share/gstreamer-1.0"
 "/usr/share/gstreamer-1.0"
 "--ro-bind-try"
 "/usr/share/icons"
 "/usr/share/icons"
 "--ro-bind-try"
 "/usr/share/locale"
 "/usr/share/locale"
 "--ro-bind-try"
 "/usr/share/locale-langpack"
 "/usr/share/locale-langpack"
 "--ro-bind-try"
 "/usr/share/mime"
 "/usr/share/mime"
 "--ro-bind-try"
 "/usr/share/pipewire"
 "/usr/share/pipewire"
 "--ro-bind-try"
 "/usr/share/themes"
 "/usr/share/themes"
 "--dev-bind"
 "/dev/urandom"
 "/dev/urandom"
 "--ro-bind-try"
 "/usr/share/thumbnailers"
 "/usr/share/thumbnailers"
 "--ro-bind-try"
 "/usr/bin/gdk-pixbuf-thumbnailer"
 "/usr/bin/gdk-pixbuf-thumbnailer"
 "--bind"
 "/home/me/.cache/gnome-desktop-thumbnailer"
 "/home/me/.cache/gnome-desktop-thumbnailer"
 "--bind"
 "/home/me/.cache/thumbnails"
 "/home/me/.cache/thumbnails"
 "--unsetenv"
 "HOME")
